@media screen and (min-width: 1024px) {
  #root {
    position: relative;
    background: radial-gradient(
      circle,
      rgba(197, 108, 241, 0.3) 0%,
      rgba(121, 63, 150, 0.7) 100%,
      rgba(0, 0, 0, 0.5) 100%
    );
    overflow-y: hidden;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "a b"
      "c d";
    padding: 30px;
    text-align: none;
    margin-bottom: 0;
  }
  
  .webgl {
    width: 80%;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  /* ------------- */
  /*  Main title   */
  /* ------------- */
  .titleContainer {
    padding-top: 0px;
    text-align: start;
  }

  h1 {
    font-size: 66px;
    font-weight: 300;
    line-height: 66px;
  }

  /* ------------- */
  /*    Skills     */
  /* ------------- */
  .skills {
    display: block;
    align-self: flex-end;
    flex-direction: none;
    justify-content: none;
    text-align: start;
    margin-bottom: 0;
  }

  .skills h2 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
  }

  .skills ul {
    font-size: 16px;
    margin-bottom: none;
  }

  /* ------------- */
  /*    Contacts   */
  /* ------------- */
  .contactsContainer {
    text-align: right;
    margin-bottom: 0;
  }

  .contactsContainer h2 {
    font-size: 56px;
    font-weight: 300;
    line-height: 50px;
  }

  .contactsTitle {
    margin-bottom: 10px;
  }

  .contactsBox {
    padding-top: 10px;
  }

  .contactsBox h3 {
    font-size: 20px;
  }

  .contactsBox p {
    font-size: 16px;
  }

  /* ------------- */
  /*   A propos    */
  /* ------------- */
  .apropos {
    display: block;
    align-self: flex-end;
    flex-direction: none;
    justify-content: none;
    text-align: right;
    margin-bottom: 0;
  }

  .apropos h2 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
  }

  .apropos ul {
    font-size: 16px;
    margin-bottom: none;
  }
  
  /* ---------- */
  /* Animations */
  /* ---------- */
  .skills h2 {
    transform: translateY(150px);
  }
  
  .skills ul li {
    transform: translateX(-320px);
  }
  
  .contactsContainer h2 {
    transform: translateY(-150px);
  }
  
  .apropos h2 {
    transform: translateY(150px);
  }
  
  .contactsContainer div:nth-child(2)  {
    transform: translateX(300px);
  }
  
  .contactsContainer div:last-child  {
    transform: translateX(300px);
  }
  
  .apropos ul li {
    transform: translateX(340px);
  }
}
